.welcome-message{
    font-size: 2.5em;
    background-color: hsl(120, 32%, 46%);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 0;
    max-width: 50%;
}




.login-prompt {
    color:  red;
    background-color: aqua;
    max-width: 40%;
    border-radius: 10%;
    padding: 20px;
    margin:30px

}